In [1]:
from datetime import datetime as dt
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as pyplot

/home/vivek/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
now = dt.now()

# get day
now.day
# You can see the time right now
now.time()

datetime.time(14, 42, 23, 899160)

In [6]:
myage = now - pd.datetime(1989, 7, 30)
myage.days/365

27

In [7]:
type(myage)

datetime.timedelta

In [8]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', '2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', '2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', '2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'battle_deaths': [34, 25, 26, 15, 15, 14, 26, 25, 62, 41]}
df = pd.DataFrame(data, columns = ['date', 'battle_deaths'])
df

                         date  battle_deaths
0  2014-05-01 18:47:05.069722             34
1  2014-05-01 18:47:05.119994             25
2  2014-05-02 18:47:05.178768             26
3  2014-05-02 18:47:05.230071             15
4  2014-05-02 18:47:05.230071             15
5  2014-05-02 18:47:05.280592             14
6  2014-05-03 18:47:05.332662             26
7  2014-05-03 18:47:05.385109             25
8  2014-05-04 18:47:05.436523             62
9  2014-05-04 18:47:05.486877             41

In [9]:
# Convert the 'date' column into a datetime format so that you can fire queries on it.
df['date'] = pd.to_datetime(df['date'])
# Type - `df.dtypes` - to see the data types of the columns

In [10]:
df.dtypes

date             datetime64[ns]
battle_deaths             int64
dtype: object

In [11]:
pd.to_datetime([None])

DatetimeIndex(['NaT'], dtype='datetime64[ns]', freq=None)

In [12]:
# Now you can query the dataframe like so
# Get all rows posted on 2nd of May 2014
df[df['date'] > '2014-05-02']

                        date  battle_deaths
2 2014-05-02 18:47:05.178768             26
3 2014-05-02 18:47:05.230071             15
4 2014-05-02 18:47:05.230071             15
5 2014-05-02 18:47:05.280592             14
6 2014-05-03 18:47:05.332662             26
7 2014-05-03 18:47:05.385109             25
8 2014-05-04 18:47:05.436523             62
9 2014-05-04 18:47:05.486877             41

In [32]:
# Lets say you want observations after May 3rd
df[datetime(2014, 5, 3):]
# this syntax is very similar to the list indexing functionality in Python

                            battle_deaths
date
2014-05-03 18:47:05.332662             26
2014-05-03 18:47:05.385109             25
2014-05-04 18:47:05.436523             62
2014-05-04 18:47:05.486877             41

## Groupby Date, Year, Month and Hour

In [17]:
df[datetime(2014, 5, 3):]

                        date  battle_deaths
0 2014-05-01 18:47:05.069722             34
1 2014-05-01 18:47:05.119994             25
2 2014-05-02 18:47:05.178768             26
3 2014-05-02 18:47:05.230071             15
4 2014-05-02 18:47:05.230071             15
5 2014-05-02 18:47:05.280592             14
6 2014-05-03 18:47:05.332662             26
7 2014-05-03 18:47:05.385109             25
8 2014-05-04 18:47:05.436523             62
9 2014-05-04 18:47:05.486877             41