# Generating DataFrames and Series

Creates random dataframes and series for exploration purposes like exporting into csv. These dataframes and series contain variety of datatypes for multiple scenarois

In [12]:
from pandas import *
from numpy import *

## Creates a dataframe with random values as follows
- a : random float values
- b : text values with values **"foo"** and **"bar"**
- c : random float values
- d : int values
- f : boolean values

In [36]:
df = DataFrame({
  "a": around(random.randn(12), 2),
  "b": ["foo", "bar"] * 6,
  "c": around(random.randn(12), 4)
})

# Let us add one more column
df['d'] = range(1, 13)
df['f'] = [True, False, True] * 4

In [37]:
df

       a    b       c   d      f
0   0.18  foo -0.9422   1   True
1  -0.33  bar  0.0385   2  False
2  -1.18  foo -0.5441   3   True
3   0.65  bar  1.3831   4   True
4  -1.63  foo -0.9134   5  False
5  -0.07  bar -0.5105   6   True
6  -0.99  foo  0.8495   7   True
7  -2.64  bar  0.9027   8  False
8   1.01  foo -1.0634   9   True
9   0.19  bar -2.2450  10   True
10  0.45  foo -1.6609  11  False
11  0.63  bar -2.4412  12   True

## Save as csv
- Make sure to exclude the headers when saving as csv if you were to import it into a mysql already existing table.
- Also remove the index column, or else mysql will consider that as a column.

In [41]:
df.to_csv("random_data.csv", sep=",", index=False, header=False)